<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>書籍登録一覧画面</title>
</head>
<body>
	<form th:action="@{/books/create}" method="post">
		<table>
			<tr><td>Title:</td><td><input type="text" name="title" /></td></tr>
			<tr><td>Author:</td><td><input type="text" name="author" /></td></tr>
			<tr><td>Publisher:</td><td><input type="text" name="publisher" /></td></tr>
			<tr><td>Price:</td><td><input type="text" name="price" /></td></tr>
		</table>
		<input type="submit" value="Create" />
	</form>

	<table>
		<tr th:each="book:${books}">
			<td th:text="${book.id}">100</td>
			<td th:text="${book.title}">TitleA</td>
			<td th:text="${book.author}">AuthorA</td>
			<td th:text="${book.publisher}">PublisherA</td>
			<td th:text="${book.price}">100</td>
			<td>
				<form th:action="@{/books/edit}" method="post">
					<input type="submit" name="form" value="Edit" />
					<input type="hidden" name="id" th:value="${book.id}" />
				</form>
			</td>
			<td>
				<form th:action="@{/books/delete}" method="post">
					<input type="submit" name="form" value="Delete" />
					<input type="hidden" name="id" th:value="${book.id}" />
				</form>
			</td>
		</tr>
	</table>
</body>
</html>